@import "tailwindcss";

@font-face {
  font-family:nunito ;
  src: url(../src/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

*{
  font-family: nunito;
}

@theme {
  --breakpoint-lg:1280px
}
@theme {
  --breakpoint-xl:1020px
}
@theme {
  --breakpoint-mm:730px
}
@theme {
  --breakpoint-ss:475px
}